body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-size: larger;
  font-family: sans-serif;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container {
  padding: 0;
}

.rowMy {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  height: 50px;
  margin: -5px 15px 30px 15px;
  text-align: right;
}

.rowPpl {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  height: 50px;
  margin: 10px 15px 20px 15px;
}

.username {
  width: 100%;
  font-size: smaller;
  color: gray;
  margin-right: 5px;
  margin-left: 5px;
}

.myLine {
  display: flex;
  align-items: center;
  background-color: rgb(31, 115, 252);
  color: white;
  text-align: right;
  border-radius: 20px;
  height: 40px;
  position: absolute;
  right: 10px;
  margin-top: 65px;
  padding: 0 15px 0 15px;
}

.pplsLine {
  display: flex;
  align-items: center;
  background-color: rgb(240, 241, 242);
  border-radius: 20px;
  margin-top: 5px;
  height: 40px;
  padding: 0 15px 0 15px;
}

.msgInputBox {
  position: sticky;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: sticky;
  background-color: white;
  color: gray;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 1.5em;
}

.inputObj {
  width: 70%;
  height: 30px;
  border: none;
  background-color: rgb(244, 245, 246);
  border-radius: 15px;
  padding-left: 10px;
}

.inputObjWarn {
  width: 70%;
  height: 30px;
  border: none;
  background-color: red;
  border-radius: 15px;
  padding-left: 10px;
  animation: fade 500ms ease-out forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.btnObj {
  height: 30px;
  border-radius: 15px;
  border: none;
  margin-left: 20px;
  background-color: rgb(31, 115, 252);
  color: white;
  padding: 0 10px 0 10px;
}

.filler {
  width: 100%;
  height: 15px;
}
